<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Proceso de Retención de Valores</title>
</head>

<body style="font-family: Arial, sans-serif; margin: 40px; color: #333; line-height: 1.6;">
  <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
    <tr>
      <td style="font-size: 24px; font-weight: bold; color: #ff6600; text-align: left; padding: 5px;">
        Centraal Inning
      </td>
      <td style="font-size: 16px; font-weight: bold; color: blue; text-align: right; padding: 5px;">
        <strong>PROCESO DE RETENCIÓN</strong><br />
        Verzenddatum: {{sendDate}}
      </td>
    </tr>
  </table>

  <div style="margin-top: 20px; text-align: justify; font-size: 14px;">
    <p>
      A la atención de: <strong>{{company_name}}</strong><br />
      {{company_address}}<br />
      {{companyCity}}
    </p>

    <p>
      Le notificamos que ha sido registrado un Vonnis en central del deudor <strong>{{debtorName}}</strong> bajo la sentencia <strong>ABC1235</strong>, con fecha <strong>{{vonnisDate}}</strong> por un valor de <strong>USD {{vonnisAmount}}</strong>.
     <br />

<br/>
Recordamos que todo vonnis registrado en el sistema central conlleva la obligación de iniciar el proceso de retención de valores correspondiente.
    </p>

    <p>
      El detalle de los valores adeudados es el siguiente:
    </p>

    <p>
      - Incassokosten ({{collectionPercentage}}%): <strong>USD {{calculatedCollection}}</strong><br />
      - ABB ({{abbPercentage}}%): <strong>USD {{calculatedABB}}</strong><br />
      - Intereses de mora ({{daysLate}} dagen): <strong>USD {{interestAmount}}</strong><br />
      - <u>Total a pagar</u>: <strong>USD {{total_amount}}</strong>
    </p>

    <p>
Solicitamos a su empresa proceder con la retención de los valores correspondientes y efectuar el pago mensual de los montos retenidos antes del día 5 de cada mes en la cuenta bancaria indicada, hasta cubrir en su totalidad el saldo adeudado.
        </p>

        <div style="border:1px solid #ddd; padding:12px; border-radius:8px; margin:14px 0;">
            <p style="margin:0;">
                <strong>Banco:</strong> MCB<br />
                <strong>Número de cuenta:</strong> {{accountNumber}}<br />
                <strong>Referencia:</strong> su nombre, empresa, número de registro del vonnis
            </p>
        </div>

    <p>
      A partir de esta fecha, requerimos que los pagos correspondientes se realicen dentro de los plazos establecidos, a fin de evitar la aplicación de recargos adicionales..
    </p>
  </div>

  <footer style="margin-top: 28px; font-size: 12px; color:#555; text-align: justify;">
    <p>
      Este mensaje ha sido generado automáticamente por el Centraal Incassoplatform (CI)
      y enviado por <strong>{{agentName}}</strong>.
    </p>
  </footer>
</body>

</html>
